---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import { Image } from "@astrojs/image/components";
import { authors } from "@data/authors";
import Pagetitle from "@components/pagetitle.astro";
import Link from "@components/ui/link.astro";
---

<Layout title="About">
  <Container>
    <Pagetitle>
      <Fragment slot="title">About</Fragment>
      <Fragment slot="desc">I am vibes</Fragment>
    </Pagetitle>

    <div class="gap-10 mx-auto max-w-4xl mt-12">
      {
        authors.slice(0, 3).map((item) => (
          <div class="group w-full flex justify-center ">
            <div>
              <div class="aspect-square h-[500px] w-[500px]">
                <Image
                  src={item.image}
                  format="jpg"
                  width={2000}
                  height={2000}
                  alt="Team"
                  class="w-full h-full rounded-xl transition  group-hover:-translate-y-1 group-hover:shadow-xl"
                />
              </div>
            </div>
          </div>
        ))
      }
    </div>

    <div class="mx-auto max-w-xl text-center mt-14">
      <p class="text-lg leading-relaxed text-gray-600 dark:text-gray-400">
        I was born and raised in South Africa and moved to the US in 2018. I live in Arlington Virgnia with my husband and two cats.
      </p>
      <div class="mt-8">
        <Link href="/contact" style="primary">Get in touch</Link>
      </div>
    </div>
  </Container>
</Layout>
